:root {
  --max-width: 1280px;
  --border-radius: 12px;
  --background-color: #fffaf5;
  --action-color: #35c79c;
  --action-color-hover: #2ea782;
  --primary-color: #f76c38;
  --gray-color: #414f5e;
  --black-color: #1a1a1a;
  --box-shadow: 2px 0px 27px 0px rgba(107, 107, 107, 0.1215686275);

  accent-color: var(--gray-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input:where([type='checkbox'], [type='radio']) {
  width: 18px;
  height: 18px;
  vertical-align: top;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff no-repeat center center;
}
